@import '../../../../node_modules/@angular/material/theming';

@include mat-core();

$dark-primary-palette: (
  50 : #f7f0ff,
  100 : #ebdbfe,
  200 : #ddc3fe,
  300 : #cfaafd,
  400 : #c598fc,
  500 : #bb86fc,
  600 : #b57efc,
  700 : #ac73fb,
  800 : #a469fb,
  900 : #9656fa,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f9f6ff,
  A700 : #e9dcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dark-accent-palette: (
  50 : #e1fbf8,
  100 : #b3f4ee,
  200 : #81ede3,
  300 : #4fe5d7,
  400 : #29e0cf,
  500 : #03dac6,
  600 : #03d6c0,
  700 : #02d0b9,
  800 : #02cbb1,
  900 : #01c2a4,
  A100 : #ebfffb,
  A200 : #b8fff2,
  A400 : #85ffe9,
  A700 : #6bffe5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dark-warn-palette: (
  50 : #f9edef,
  100 : #f1d1d7,
  200 : #e7b3bc,
  300 : #dd94a1,
  400 : #d67d8d,
  500 : #cf6679,
  600 : #ca5e71,
  700 : #c35366,
  800 : #bd495c,
  900 : #b23849,
  A100 : #fffdfd,
  A200 : #ffcad1,
  A400 : #ff97a5,
  A700 : #ff7e8f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

.dark-theme {
  $dark-primary: mat-palette($dark-primary-palette);
  $dark-accent: mat-palette($dark-accent-palette, A200, A100, A400);
  $dark-warn: mat-palette($dark-warn-palette);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  $dark-theme: map_merge($dark-theme, (background: map_merge(map-get($dark-theme, background), (background: #121212))));

  @include angular-material-theme($dark-theme);
}
