<div class="template-tab">
  <ng-container *ngFor="let tab of tabs, let index = index">
    <label #element [class.is-checked]="tab.id === active?.id" class="template-tab__label">
      <input (click)="isTabSelected(tab, element.offsetLeft)"
             (keydown.enter)="isTabSelected(tab, element.offsetLeft)" class="template-tab__input"
             name="view"
             type="radio">
      {{tab.name}}
    </label>
  </ng-container>
  <span [style.left.px]="displacement" class="template-tab__selection">{{active?.name}}</span>
</div>

