.template-tab {
  display: flex;
  position: relative;
  width: fit-content;
  height: 42px;
  padding: 4px 0;
  background: #E9E9E9;
  border-radius: 4px;

  &__input {
    display: none;
  }

  &__label {
    box-sizing: border-box;
    min-width: 78px;
    height: 34px;
    margin-right: 4px;
    padding: 5px 16px;
    z-index: 2;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #3e3e3e;

    &:first-of-type {
      margin-left: 4px;
    }

    &:not(.is-checked):hover {
      border-radius: 4px;
      background: #d0d0d0;
    }
  }

  &__selection {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    min-width: 78px;
    height: 34px;
    padding: 5px 16px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #3e3e3e;
    box-shadow: 0 3px 6px #00000029;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}
