<div class="buttons" fxLayout="column" fxLayoutGap="1rem">

  <h1>Buttons</h1>

  <h2>Angular Material buttons</h2>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">

    <div fxFlex="45%" fxLayout="column" fxLayoutGap="1rem">
      <h3>Basic buttons</h3>
      <div fxLayout="row wrap" fxLayoutGap="0.5rem grid">
        <div>
          <button mat-button>Basic</button>
        </div>
        <div>
          <button color="primary" mat-button>Primary</button>
        </div>
        <div>
          <button color="accent" mat-button>Accent</button>
        </div>
        <div>
          <button color="warn" mat-button>Warn</button>
        </div>
        <div>
          <button disabled mat-button>Disabled</button>
        </div>
        <div><a mat-button routerLink=".">Link</a></div>
      </div>
    </div>

    <div fxFlex="45%" fxLayout="column" fxLayoutGap="1rem">
      <h3>Raised buttons</h3>
      <div fxLayout="row wrap" fxLayoutGap="0.5rem grid">
        <div>
          <button mat-raised-button>Basic</button>
        </div>
        <div>
          <button color="primary" mat-raised-button>Primary</button>
        </div>
        <div>
          <button color="accent" mat-raised-button>Accent</button>
        </div>
        <div>
          <button color="warn" mat-raised-button>Warn</button>
        </div>
        <div>
          <button disabled mat-raised-button>Disabled</button>
        </div>
        <div><a mat-raised-button routerLink=".">Link</a></div>
      </div>
    </div>

  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">

    <div fxFlex="45%" fxLayout="column" fxLayoutGap="1rem">
      <h3>Stroked buttons</h3>
      <div fxLayout="row wrap" fxLayoutGap="0.5rem grid">
        <div>
          <button mat-stroked-button>Basic</button>
        </div>
        <div>
          <button color="primary" mat-stroked-button>Primary</button>
        </div>
        <div>
          <button color="accent" mat-stroked-button>Accent</button>
        </div>
        <div>
          <button color="warn" mat-stroked-button>Warn</button>
        </div>
        <div>
          <button disabled mat-stroked-button>Disabled</button>
        </div>
        <div><a mat-stroked-button routerLink=".">Link</a></div>
      </div>
    </div>

    <div fxFlex="45%" fxLayout="column" fxLayoutGap="1rem">
      <h3>Flat buttons</h3>
      <div fxLayout="row wrap" fxLayoutGap="0.5rem grid">
        <div>
          <button mat-flat-button>Basic</button>
        </div>
        <div>
          <button color="primary" mat-flat-button>Primary</button>
        </div>
        <div>
          <button color="accent" mat-flat-button>Accent</button>
        </div>
        <div>
          <button color="warn" mat-flat-button>Warn</button>
        </div>
        <div>
          <button disabled mat-flat-button>Disabled</button>
        </div>
        <a mat-flat-button routerLink=".">Link</a>
      </div>
    </div>

  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">

    <div fxFlex="45%" fxLayout="column" fxLayoutGap="1rem">
      <h3>Icon buttons</h3>
      <div fxLayout="row wrap" fxLayoutGap="0.5rem grid">
        <div>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div>
          <button color="primary" mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div>
          <button color="accent" mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div>
          <button color="warn" mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div>
          <button disabled mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div fxFlex="45%" fxLayout="column" fxLayoutGap="1rem">
      <h3>Fab buttons</h3>
      <div fxLayout="row wrap" fxLayoutGap="0.5rem grid">
        <div>
          <button mat-fab>Basic</button>
        </div>
        <div>
          <button color="primary" mat-fab>Primary</button>
        </div>
        <div>
          <button color="accent" mat-fab>Accent</button>
        </div>
        <div>
          <button color="warn" mat-fab>Warn</button>
        </div>
        <div>
          <button disabled mat-fab>Disabled</button>
        </div>
        <div>
          <button mat-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <a mat-fab routerLink=".">Link</a>
      </div>
    </div>

  </div>

</div>
