<mat-card class="tasks">
  <mat-card-header>
    <mat-card-title>Tasks ({{tasks.length}})</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-simplebar [options]="{autoHide: false, scrollbarMinSize: 100}" style="overflow-x: hidden">
      <div *ngFor="let task of tasks" class="tasks__task-wrapper" fxLayout="row"
           fxLayoutAlign="space-between center">
        <mat-checkbox class="mr3" color="primary"></mat-checkbox>
        <div fxFlex fxLayout="column" fxLayoutAlign="flex-start flex-start" fxLayoutGap="0.25rem">
          <span>{{task.title}}</span>
          <span>{{task.information}}</span>
        </div>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </ngx-simplebar>
  </mat-card-content>
</mat-card>
